ul {
  margin: 0;
  list-style: none;
}

table {
  border-spacing: 0px;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
}

body {
  background-color: #e6e6e6;
  font-size: 16px;
}